
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />

@model Turismul_In_Capitalele_Europene.Models.Capitala

@{
    ViewData["Title"] = "Details";
    string densitate = ViewData["Densitate"] as string;
}

<center>

    <div class="titlupag_detalii">Detalii Capitala</div>

</center>
<div class="camp1">
    <div class="camp_detalii">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Denumire)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Denumire)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tara)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tara)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Regiune)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Regiune)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fondare_secol)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fondare_secol)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Populatie)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Populatie)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Suprafata_kmp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Suprafata_kmp)
            </dd>
            <dt class="col-sm-2">
                Densitate
            </dt>
            <dd class="col-sm-10">
                @densitate loc/kmp
            </dd>
        </dl>
    </div>
</div>

<div class="btn">
    <a asp-action="Edit" asp-route-id="@Model.CapitalaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
