
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />


@model Turismul_In_Capitalele_Europene.Models.Intrebare

@{
    ViewData["Title"] = "Delete";
}

<center>

    <div class="titlupag">Stergere Intrebare</div>

</center>

<h3>Esti sigur ca vrei sa stergi aceasta intrebare?</h3>
<div class="camp1">
    <div class="camp_detalii">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Continut)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Continut)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilizator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilizator.Nume)
            </dd>
        </dl>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="IntrebareId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <div class="btn">
        <a asp-action="Index">Back to List</a>
    </div>
</form>

